
<div class="col-sm-8" >
  <table  class="table table-borderless" id="datos">
    <tbody>
      <tr> 
        <td colspan="3">
          <h3 class="box-title">Listado de las ubicaciones actualmente registradas</h3>
        </td>
      </tr>

      <tr>
        <td  class="Nombre ubicación" >
          <div>
            <p >primera ubicación</p>
          </div>
        </td>

        <td class="vista">
          <div>
            <p >la ubicación númerica</p>
          </div>
        </td> 

        <td  class="vista" >
          <button type="submit" class="btn btn-info btn-block" (click)="activar_modal_vp(oferta.id)" ><i class="fa fa-eye"></i>Editar</button>
          <button type="submit" class="btn btn-primary btn-block" (click)="postulados(oferta.id)"><i class="fa fa-group"></i>&nbsp;&nbsp;&nbsp;Eliminar</button>
        </td> 
      </tr>
      
    </tbody>
  </table >
</div>

<router-outlet></router-outlet>
